Repository reframe-hpc/reframe, pull requests merged in 2023-08, with the labels that each got.

#2957 [testlib] New test for testing SSH host keys
  hpctestlib/system/ssh/host_keys.py
Labels: prio: low, test library

#2968 [bugfix] Ensure LSF `bjobs` gets the right format
  reframe/core/schedulers/lsf.py
Labels: prio: normal, bugfix, schedulers

#2976 [bugfix] Accept `y` and `n` for boolean conversions
  reframe/utility/typecheck.py
  unittests/test_typecheck.py
Labels: prio: normal, bugfix

#2977 [doc] Document default value of `format_perfvars`
  docs/config_reference.rst
Labels: prio: normal, documentation, bugfix
